.register__details {
  position: relative;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.register__details-item-wrapper {
  margin-bottom: 10px;
}

.register__details-input {
  width: 100% !important;

  & > input {
    width: 100%;
  }
}

.register__steps-next-button {
  margin-right: 10px;
}
